export COMPOSE_PROJECT_NAME=alexandria
export WEB_PORT=8080
export MYSQL_RANDOM_ROOT_PASSWORD=true
export DATABASE_HOST=127.0.0.1
export DATABASE_PORT=3307
export DATABASE_USER=docker
export DATABASE_PASSWORD=docker
export DATABASE_NAME=alexandria
export MIGRATION_FILE=./src/data/database.sql